Your full name? (1 point) - Jonathan McFadden

# 1. Simple Python Coding (10 points)

Write a function nums_reversed that takes in an integer n and returns a string containing the numbers 1 through n including n in reverse order, separated by spaces. For example:

nums_reversed(5)

'5 4 3 2 1'

In [6]:
def nums_reversed(n):
    nums = list(range(1, (n+1)))
    
    numsStr = ""
    
    for i in range(n):
        numsStr = numsStr + str(nums[n-i-1]) + " "

    numsStr = numsStr[:-1]
    
    return numsStr

Test of the *__nums_reversed(n)__* function

In [7]:
nums_reversed(10)

'10 9 8 7 6 5 4 3 2 1'

Write a function median that takes in a list of numbers and returns the median element of the list. If the list has even length, it returns the mean of the two elements in the middle.

>> median([5, 4, 3, 2, 1])
3
>> median([ 40, 30, 10, 20 ])
25

In [10]:
import math

def median(number_list):
    numElem = len(number_list)
    
    sorted_list = sorted(number_list)
    
    theMedian = 0
    if numElem % 2 == 1:
        theInd = math.floor(numElem / 2)
        theMedian = sorted_list[theInd]
    else:
        tmp = int(numElem / 2)
        tmp0 = sorted_list[tmp]
        tmp1 = sorted_list[tmp - 1]
        
        theMedian = (tmp0 + tmp1) / 2
        
    return theMedian

Test of the __*median(number_list)*__ function

In [11]:
print(median([5, 4, 3, 2, 1]))
print(median([ 40, 30, 10, 20 ]))

3
25.0

# 2. A Data Analysis Example (13 points)

You need to go through the example in "Data Acquisition and Cleaning" of https://www.textbook.ds100.org/ch/01/lifecycle_students_1.html (until the plot before "What's in a Name") using provided "fake_roster.csv".

You have to install the "pandas" package for data loading and the visualization package "seaborn" for plotting. You also need to install "numpy".
Use "pip install pandas", "pip install seaborn", and "pip install numpy" in the vitural environment.

You need to put "fake_roster.csv" and this notebook in the same folder

You need to output corresponding results as the example for "fake_roster.csv"

In [16]:
import pandas as pd

students = pd.read_csv('fake_roster.csv')
students

       Name              Role
0       Sam           Student
1      JOEY           Student
2   Deborah           Student
3     kanye           Student
4       Tim           Student
5       Xin           Student
6       Nhi           Student
7      Kate           Student
8      Sona           Student
9      Erik           Student
10   TREVOR  Waitlist Student
11    Tammy  Waitlist Student

In [17]:
students['Name'] = students['Name'].str.lower()
students

       Name              Role
0       sam           Student
1      joey           Student
2   deborah           Student
3     kanye           Student
4       tim           Student
5       xin           Student
6       nhi           Student
7      kate           Student
8      sona           Student
9      erik           Student
10   trevor  Waitlist Student
11    tammy  Waitlist Student

In [18]:
print("There are", len(students), "students on the roster.")

There are 12 students on the roster.

Additonal comments (e.g., I discussed with XXX, I borrowed from XXX or your general comment about this assignment)? (No points)